{% extends 'navbar.html'%}
{% block content %}
<div class="row mt-2">
    <div class="col">
        <div class="d-flex flex-row-reverse">
        <button type="button" class="btn btn-outline-danger mx-1" data-bs-toggle="modal" data-bs-target="#removeModal">
          Remove All Miners
        </button>

        <!-- Modal -->
        <div class="modal fade" id="removeModal" tabindex="-1" aria-labelledby="removeModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="removeModalLabel">Remove Miner</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Do you really want to remove all miners?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a class="btn btn-danger" href="{{url_for('remove_all_miners')}}" role="button">Remove</a>
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>
</div>

<script>
    window.post = function(url, data) {
      return fetch(url, {method: "POST", headers: {'Content-Type': 'application/json'}, body: JSON.stringify(data)});
    }
</script>
{% endblock content %}
