<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Include chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Include Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .btn-success:disabled {
            background-color: rgba(103, 221, 0, 1);
            border-color: rgba(103, 221, 0, 1);
            color: #000000;
        }
    </style>
</head>
<body class="bg-dark">
    <nav class="navbar fixed-top m-0 p-0">
        <div class="container d-flex justify-content-center mb-0 px-0">
            <div class="row w-100 border border-dark p-3 row bg-dark">
                <div class="col d-flex justify-content-center">
                    <h3 class="text-white" id="miner_count">Miners Online: ??</h3>
                </div>
            </div>
        </div>
    </nav>
    <div class="py-2 mt-5 pt-5">
        <div class="container">
            <div id="chart_container" class="row row-cols-1 row-cols-sm-2 row-cols-md-4" style="height:1500px;"></div>
        </div>
    </div>
<script>
    var options_hr = {
    animation: {
        duration: 0,
    },
    responsive: true,
    aspectRatio: .75,
    plugins: {
        legend: {
            display: false,
        }
    },
    scales: {
        x: {ticks: { color: "white" }},
        y: {
            ticks: { stepSize: .6, color: "white" },
            min: 0,
            suggestedMax: 3.6,
            grid: {
                color: function(context) {
                    if (context.tick.value == 2.4) {
                        return "rgba(0, 0, 0, 1)";
                    } else if (context.tick.value > 2.4) {
                        return "rgba(103, 221, 0, 1)";
                    } else if (context.tick.value < 2.4) {
                        return "rgba(221, 0, 103, 1)";
                    }
                }
            }
        }
    }
};

var options_temp = {
    animation: {
        duration: 0,
    },
    responsive: true,
    plugins: {
        legend: {
            display: false,
        }
    },
    aspectRatio: .75,
    scales: {
        x: {ticks: { color: "white" }},
        y: {ticks: { color: "white" }}
    }

};

var options_fans = {
    animation: {
        duration: 0,
    },
    aspectRatio: 1.5,
    events: [],
    responsive: true,
    plugins: {
        legend: {
            display: false,
        }
    }
};




var ws = new WebSocket("ws://{{request.url.hostname}}:{% if request.url.port %}{{request.url.port}}{% else %}80{% endif %}/ws");
function lightMiner(ip, checkbox) {
    // if the checkbox is checked turn the light on, otherwise off
    if (checkbox.checked){
        ws.send(JSON.stringify({"IP": ip, "Data": "light"}))
    } else if (!(checkbox.check)) {
        ws.send(JSON.stringify({"IP": ip, "Data": "unlight"}))
    }
};
ws.onmessage = function(event) {
    var data = JSON.parse(event.data)
    if (data.hasOwnProperty("Count")) {
        count = document.getElementById("miner_count")
        count.innerHTML = "Miners Online: " + data["Count"]
    }
    if (data.hasOwnProperty("online")) {
        timer = document.getElementById(data["IP"] + "-timer")
        if (data["online"] == "0:00:00") {
            if (timer.classList.contains("btn-success")) {
                timer.classList.remove("btn-success")
                timer.className += " btn-secondary"
            }
        } else {
            if (timer.classList.contains("btn-secondary")) {
                timer.classList.remove("btn-secondary")
                timer.className += " btn-success"
            }
        }
        timer.innerHTML = data["online"]
    };
    if (data.hasOwnProperty("miners")) {
        var container_all = document.getElementById('chart_container');
        container_all.innerHTML = ""
        data["miners"].forEach(function(miner) {
            // create column with ID being the IP for later use
            var column = document.createElement('div');
            column.className = "col border border-dark p-3"
            column.id = miner["IP"]

            // create button group
            var button_group = document.createElement("div");
            button_group.className = "btn-group w-100"

            // create IP address header
            var header = document.createElement('button');
            header.className = "text-center btn btn-primary"
            header.onclick = function(){window.open("http://" + miner["IP"], '_blank');}
            header.innerHTML += miner["IP"]

            // create online timer
            var timer = document.createElement('button');
            timer.className = "text-center btn btn-secondary"
            timer.disabled = true
            timer.innerHTML = "0:00:00"
            timer.id = miner["IP"] + "-timer"

            button_group.append(header)
            button_group.append(timer)

            column.append(button_group)

            // create install stdout
            var row_text = document.createElement('div');
            row_text.className = "row p-3"
            row_text.id = miner["IP"] + "-stdout"

            // create text area for data
            var text_area = document.createElement('textarea');
            text_area.id = miner["IP"] + "-stdout_text"
            text_area.rows = "15"
            text_area.className = "form-control"
            text_area.style = "font-size: 12px"
            text_area.disabled = true
            text_area.readonly = true

            row_text.append(text_area)

            column.append(row_text)


            // create hr and temp canvas
            var hr_canvas = document.createElement('canvas');
            hr_canvas.width = 125
            hr_canvas.height = 125
            hr_canvas.id = miner["IP"] + "-hr"

            var temp_canvas = document.createElement('canvas');
            temp_canvas.width = 125
            temp_canvas.height = 125
            temp_canvas.id = miner["IP"] + "-temp"

            // create fan 1 title
            var fan_1_title = document.createElement('p');
            fan_1_title.innerHTML += "Fan L: 0 RPM";
            fan_1_title.className = "text-center"
            fan_1_title.id = miner["IP"] + "-fan_l"

            // create fan 2 title
            var fan_2_title = document.createElement('p');
            fan_2_title.innerHTML += "Fan R: 0 RPM";
            fan_2_title.className = "text-center"
            fan_2_title.id = miner["IP"] + "-fan_r"

            // create fan 1 canvas
            var fan_1_canvas = document.createElement('canvas');
            fan_1_canvas.width = 100
            fan_1_canvas.height = 100
            fan_1_canvas.id = miner["IP"] + "-fan-1"

            // create fan 2 canvas
            var fan_2_canvas = document.createElement('canvas');
            fan_2_canvas.width = 100
            fan_2_canvas.height = 100
            fan_2_canvas.id = miner["IP"] + "-fan-2"


            // create row for hr and temp data
            var row_hr = document.createElement('div');
            row_hr.className = "row"

            // create row for titles of fans
            var row_fan_title = document.createElement('div');
            row_fan_title.className = "row"

            // create row for fan graphs
            var row_fan = document.createElement('div');
            row_fan.className = "row mb-4"

            // create hr container
            var container_col_hr = document.createElement('div');
            container_col_hr.className = "col w-50 ps-0 pe-4"

            // create temp container
            var container_col_temp = document.createElement('div');
            container_col_temp.className = "col w-50 ps-0 pe-4"

            // create fan title 1 container
            var container_col_title_fan_1 = document.createElement('div');
            container_col_title_fan_1.className = "col"

            // create fan title 2 container
            var container_col_title_fan_2 = document.createElement('div');
            container_col_title_fan_2.className = "col"

            // create fan 1 data container
            var container_col_fan_1 = document.createElement('div');
            container_col_fan_1.className = "col w-50 ps-3 pe-1"

            // create fan 2 data container
            var container_col_fan_2 = document.createElement('div');
            container_col_fan_2.className = "col w-50 ps-3 pe-1"

            // append canvases to the appropriate container columns
            container_col_hr.append(hr_canvas)
            container_col_temp.append(temp_canvas)
            container_col_title_fan_1.append(fan_1_title)
            container_col_title_fan_2.append(fan_2_title)
            container_col_fan_1.append(fan_1_canvas)
            container_col_fan_2.append(fan_2_canvas)

            // add container columns to the correct rows
            row_hr.append(container_col_hr)
            row_hr.append(container_col_temp)
            row_fan_title.append(container_col_title_fan_1)
            row_fan_title.append(container_col_title_fan_2)
            row_fan.append(container_col_fan_1)
            row_fan.append(container_col_fan_2)

            // create miner graph container
            var miner_graphs = document.createElement('div');
            miner_graphs.id = miner["IP"] + "-graphs"
            miner_graphs.hidden = true

            // append the rows to the column
            miner_graphs.append(row_hr)
            miner_graphs.append(row_fan_title)
            miner_graphs.append(row_fan)
            column.append(miner_graphs)


            // create light button container
            var container_light = document.createElement('div');
            container_light.className = "form-check form-switch justify-content-evenly"
            container_light.style = "display: none;"
            container_light.id = miner["IP"] + "-light_container"

            // create light button
            var light_switch = document.createElement('input');
            light_switch.type = "checkbox"
            if (miner["Light_On"] == true) {
                light_switch.checked = true
            }
            light_switch.id = miner["IP"] + "-light"
            light_switch.className = "form-check-input"
            light_switch.addEventListener("click", function(){lightMiner(miner["IP"], light_switch);}, false);


            // add a light label to the button
            var label_light = document.createElement("label");
            label_light.setAttribute("for", miner["IP"] + "-light");
            label_light.innerHTML = "Light";
            label_light.classList = "text-light"

            // add the button and label to the container
            container_light.append(light_switch)
            container_light.append(label_light)

            column.append(container_light)

            container_all.append(column)

            var chart_hr = new Chart(hr_canvas, {
                type: "bar",
                data: {
                    labels: ["Hashrate"],
                    datasets: [],
                },
                options: options_hr
            });

            var chart_temp = new Chart(temp_canvas, {
                type: "bar",
                data: {
                    labels: ["Temps"],
                    datasets: [],
                },
                options: options_temp,
            });

            var chart_fan_1 = new Chart(fan_1_canvas, {
                type: "doughnut",
                data: {
                    labels: ["Fan L"],
                    datasets: [
                        {
                            data: [],
                            // add colors
                            backgroundColor: [
                                "rgba(103, 0, 221, 1)",
                                "rgba(199, 199, 199, 1)"
                            ],
                        },
                    ]
                },
                options: options_fans
            });


            // create the fan 2 chart
            var chart_fan_2 = new Chart(fan_2_canvas, {
                type: "doughnut",
                data: {
                    labels: ["Fan R"],
                    datasets: [
                        {
                            data: [],
                            backgroundColor: [
                                "rgba(103, 0, 221, 1)",
                                "rgba(199, 199, 199, 1)"
                            ]
                        },
                    ]
                },
                options: options_fans
            });

        });
    }
    else if (data.hasOwnProperty("HR")) {
        var miner_stdout = document.getElementById(data["IP"] + "-stdout")
        miner_stdout.hidden = true
        var miner_graphs = document.getElementById(data["IP"] + "-graphs")
        miner_graphs.hidden = false
        var hr_graph = Chart.getChart(data["IP"] + "-hr")
        var temp_graph = Chart.getChart(data["IP"] + "-temp")
        var fan_1_graph = Chart.getChart(data["IP"] + "-fan-1")
        var fan_2_graph = Chart.getChart(data["IP"] + "-fan-2")

        // update hr graph data and call the Update method
        var hr_data = []
        hr_data.push({label: "Board 6", data: [data["HR"]["board_6"]["HR"]], backgroundColor: ["#BCD9EA"]});
        hr_data.push({label: "Board 7", data: [data["HR"]["board_7"]["HR"]], backgroundColor: ["#5BA4CF"]});
        hr_data.push({label: "Board 8", data: [data["HR"]["board_8"]["HR"]], backgroundColor: ["#0079bf"]});
        hr_graph.data.datasets = hr_data;
        hr_graph.update();

        // update temp graph data and call the Update method
        var temp_data = []
        temp_data.push({label: "Board 6 Chips", data: [data["Temps"]["board_6"]["Chip"]], backgroundColor: ["rgba(6, 92, 39, 1)"]});
        temp_data.push({label: "Board 6", data: [data["Temps"]["board_6"]["Board"]], backgroundColor: ["rgba(255, 15, 58, 1)"]});
        temp_data.push({label: "Board 7 Chips", data: [data["Temps"]["board_7"]["Chip"]], backgroundColor: ["rgba(6, 92, 39, 1)"]});
        temp_data.push({label: "Board 7", data: [data["Temps"]["board_7"]["Board"]], backgroundColor: ["rgba(255, 15, 58, 1)"]});
        temp_data.push({label: "Board 8 Chips", data: [data["Temps"]["board_8"]["Chip"]], backgroundColor: ["rgba(6, 92, 39, 1)"]});
        temp_data.push({label: "Board 8", data: [data["Temps"]["board_8"]["Board"]], backgroundColor: ["rgba(255, 15, 58, 1)"]});
        temp_graph.data.datasets = temp_data;
        temp_graph.update();

        // update fan 1 graph data and call the Update method
        var fan_1_rpm = data["Fans"]["fan_0"]["RPM"]
        var fan_1_title = document.getElementById(data["IP"] + "-fan_l");
        fan_1_title.innerHTML = "Fan L: " + fan_1_rpm + " RPM";
        fan_1_title.classList = "text-light"
        if (fan_1_rpm == 0){
            var secondary_col_1 = "rgba(97, 4, 4, 1)"
        } else {
            var secondary_col_1 = "rgba(199, 199, 199, 1)"
        }
        var fan_1_data = [{label: "Fan Speed", data: [fan_1_rpm, 6000-fan_1_rpm], backgroundColor: ["rgba(103, 0, 221, 1)", secondary_col_1]}]
        fan_1_graph.data.datasets = fan_1_data;
        fan_1_graph.update();

        // update fan 2 graph data and call the Update method
        var fan_2_rpm = data["Fans"]["fan_1"]["RPM"]
        var fan_2_title = document.getElementById(data["IP"] + "-fan_r");
        fan_2_title.innerHTML = "Fan R: " + fan_2_rpm + " RPM";
        fan_2_title.classList = "text-light"
        if (fan_2_rpm == 0){
            var secondary_col_2 = "rgba(97, 4, 4, 1)"
        } else {
            var secondary_col_2 = "rgba(199, 199, 199, 1)"
        }
        var fan_2_data = [{label: "Fan Speed", data: [fan_2_rpm, 6000-fan_2_rpm], backgroundColor: ["rgba(103, 0, 221, 1)", secondary_col_2]}]
        fan_2_graph.data.datasets = fan_2_data;
        fan_2_graph.update();
    } else if (data.hasOwnProperty("text")) {
        var miner_graphs = document.getElementById(data["IP"] + "-graphs")
        miner_graphs.hidden = true
        var miner_stdout = document.getElementById(data["IP"] + "-stdout")
        var miner_stdout_text = document.getElementById(data["IP"] + "-stdout_text")
        miner_stdout.hidden = false
        miner_stdout_text.innerHTML = data["text"] + miner_stdout_text.innerHTML
    }
    if (data.hasOwnProperty("Light")) {
        light_box = document.getElementById(data["IP"] + "-light_container")
        if (data["Light"] == "show") {
            light_box.style = "display: flex;"
        } else if (data["Light"] == "hide") {
            light_box.style = "display: none;"
        }
    }
}

</script>

</body>
</html>
